#imCel7_00 {position: absolute; top: 0px; left: 10px; height: 600px; width: 988px; }
#imObj7_00 {font: 11px Arial; }
#imObj7_00 {padding: 0px; }
#imCel7_00_Cont {text-align: left; height: 600px; width: 988px; overflow: auto; }
#imPage {position: relative; height: 610px; }

